body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.grid {
    width: 600px;
    height: 300px;
    border: 1px solid white;
    position: relative;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}
.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: green;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}
